body {
    background: blue;
}

/*Кнопка завантажити*/
input[type="file"] {
    display: none;
}
    .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

}
/*Бокова панель студії*/

.sidebar {
    width: 290px;
    height: 100%;
    background-color: 0;
    color: #fff;
    position: fixed;
    top: 100px;
    left: 0;
    padding: 20px;
}
/*Увесь блок контенку студії*/

.main-content {
    margin-left: 350px;
    margin-top: 200px;

}
/*Nav bar*/

.topnavbar {
    float: "left";
    margin-right: "10px";
    position: fixed;
    background-color: 0;
    width: 100%;
}

/* Лого у верхньому лівому куті*/
.logo-top {
    float: left;
    margin-right: 10px;
    padding-right: 55rem!important;
}


/* Шрифт для обладнання*/

.font-for-eq {
    font-size: 26px;
font-family: 'Press Start 2P', sans-serif;
}

/* Шрифт для заголовків*/
.font-for-titles {
    font-size: 26px;
font-family: 'Press Start 2P', sans-serif;
}
/*
.title-studio {
 font-size: 46px;
    font-family: 'Common Pixel', sans-serif;
}

.font-for-nb {
    font-size: 4px;
}
*/


/* Шрифт для кнопок у навбарі*/

p.btn {
    background-color: #0813ff;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 10px;
}

/* Шрифт для кнопок у боковій панелі*/
.nav-link {
font-family: 'Press Start 2P', sans-serif;
font-size: 10px;
}


/* не знаю поки шо*/

.container {
margin-left: 350px
}
