body {
    background: blue;
}

/*Кнопка завантажити*/

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

}
/*Бокова панель студії*/

.sidebar {
    width: 290px;
    height: 100%;
    background-color: 0;
    color: #fff;
    position: fixed;
    top: 100px;
    left: 0;
    padding: 20px;
}
/*Увесь блок контенку студії*/

.main-content {
    margin-left: 350px;
    margin-top: 200px;

}
/*Nav bar*/

.topnavbar {
    float: "left";
    margin-right: "10px";
    position: fixed;
    background-color: 0;
    width: 100%;
}

/* Лого у верхньому лівому куті*/
.logo-top {
    float: left;
    margin-right: 10px;
    padding-right: 50rem!important;
}


/* Шрифт для обладнання*/

.font-for-eq {
    font-size: 26px;
font-family: 'Press Start 2P', sans-serif;
color: #1ffa02;
-webkit-text-stroke: 1px red;

}

/* Шрифт для заголовків*/
.font-for-titles {
    font-size: 46px;
font-family: 'Press Start 2P', sans-serif;
color: #1ffa02;
-webkit-text-stroke: 1px red;
}
/*
.title-studio {
 font-size: 46px;
    font-family: 'Common Pixel', sans-serif;
}

.font-for-nb {
    font-size: 4px;
}
*/


/* Шрифт для кнопок у навбарі*/

p.btn {
    background-color: #0813ff;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 10px;
}

/* Шрифт для кнопок у боковій панелі*/
.nav-link {
font-family: 'Press Start 2P', sans-serif;
font-size: 10px;
}


/* не знаю поки шо*/

.container {
margin-left: 350px
}




.custom-file-upload::before {
  content: 'Вибрати файл';
  display: inline-block;
  background: #0813FF;
  padding: 6px 12px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-file-upload:hover::before {
  border-color: #777;
}

.custom-file-upload:active::before {
  background: #eee;
}

.form input[type=file], form label[type=file] {
    position: absolute;
display: none;
}
.form-control {
    display: block;
    width: 1px;
    }