{% extends 'base_showroom.html' %}
{% block title %}
Контакти
{% endblock %}
{% block body %}
<p class="font-for-titles">контактс</p>
<div class="container">

    <p class="font-for-eq">Email: flythonestudio@gmail.com</p>
    <p class="font-for-eq">Phone: +380 000 00 00</p>
    <p class="font-for-eq">Адреса: м.Київ, вул. В'ячеслава Липинського, 12</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d635.1360233153591!2d30.50483947446414!3d50.449592100000025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5f2227e10b%3A0xc854d97c67228a5e!2z0LLRg9C70LjRhtGPINCSJ9GP0YfQtdGB0LvQsNCy0LAg0JvQuNC_0LjQvdGB0YzQutC-0LPQviwgMTIsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1678889050234!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
{% endblock %}
