{% extends 'base_showroom.html' %}
{% block title %}
Доставка
{% endblock %}
{% block body %}
<p class="font-for-titles">делівері</p>
<div class="container">




    <h3>Доставка та оплата</h3>

<p>Доставка замовлень у межах Європи здійснюється компанією DHL .</p>



<p>Замовлення по Україні відправляються Новою Поштою . </p>


<p>Для зручності при розрахунку до суми замовлення додається тариф доставки. Все буде доставлено протягом 4-7 робочих днів, але в інтенсивні періоди (розпродажі, нові дропи) дозвольте додати ще пару днів. Спасибі за розуміння!</p>


<p>Ми приймаємо картки Visa та Mastercard. Усі транзакції зашифровані, на 100% безпечні та цілком секретні.</p>



<p>Зверніть увагу, що ми працюємо тільки за повною передоплатою!</p>


    <h3>Повернення та обмін</h3>


<p>Якщо ви не задоволені придбаним товаром, ви можете повернути або обміняти його протягом 14 днів з моменту доставки.</p>



<p>На що звернути увагу, щоб повернення або обмін пройшли без проблем і успішно?</p>

<p>Товарний вигляд товару збережено: неношений, непраний, без запаху, непраний тощо;</p>

<p>Оригінальна упаковка, етикетки та бирки збережені.</p>


<p>Повернення або обмін товарів належної якості відбувається через Нову Пошту (Україна) та DHL (Європа) за рахунок покупця. Ми залишаємо за собою право відмовити у поверненні або обміні, якщо посилка відправляється назад за рахунок одержувача або продукт всередині не відповідає пунктам вище.</p>


<p>Якщо при отриманні товару Ви виявите брак - ми беремо його на себе! Усі поштові витрати оплачує Low Blow. Будь ласка, не забудьте описати проблему, щоб ми могли вирішити її якомога швидше.</p>

<p>Якщо ви хочете повернути свої кровно зароблені гроші, ми повернемо гроші на ту ж картку, якою ви заплатили на сайті. У разі переказу готівки через термінал або онлайн-банкінг - будь ласка, вкажіть свої дані в запиті на повернення на: lowblow.brand@gmail.com.</p>

<p>Але сподіваємося, що до цього не дійде. Приємних покупок!</p>

</div>
{% endblock %}
