{% extends 'base_showroom.html' %}
{% block title %}
{{item.name}}
{% endblock %}
{% block body %}
<p class="font-for-titles">{{item.name}}</p>
<div class="container">

    <div class="item">
        <h3>{{ item.name }}</h3>
        <p><strong>Price:</strong> {{ item.price }} $</p>
        <p><strong>Size:</strong> {{ item.size }}</p>
        <p><strong>Quantity:</strong> {{ item.quantity }}</p>
        <img src="{{ url_for('get_image', filename=item.id) }}" alt="Item Image">
        <form action="{{ url_for('delete_item') }}" method="POST">
            <input type="hidden" name="item_id" value="{{item.id}}">
            <button type="submit">Remove</button>
        </form>
         <form action="{{ url_for('edit_item', id=item.id) }}" method="POST">
                <a href="/store/{{ item.id }}/edit">Edit</a>
            <button type="submit">Edit</button>
        </form>
    </div>

</div>

{% endblock %}
