{% extends 'base_showroom.html' %}
{% block title %}
Увійти
{% endblock %}
{% block body %}
<p class="font-for-titles">увiйти</p>
<div class="container">
    <form method="POST" action="/login_showroom">
        <input type="email" name="email" id="email" class="form-control" placeholder="email" required><br>
        <input type="password" name="password" id="password" class="form-control" placeholder="password" required><br>
        <input type="submit" class="btn btn-success" value="Увійти">
</form>
</div>
{% endblock %}
