{% extends 'base_studio.html' %}
{% block title %}
Cтудія
{% endblock %}
{% block body %}

<div class="container">
    <p class="font-for-titles">Обладнання</p>

        <img src="{{ url_for('static', filename='img/akg120 nobg.png') }}" alt="" width="620" height="380">
        <p class="font-for-eq">AKG P120</p>
        <img src="{{ url_for('static', filename='img/bumc22 nobg.png') }}" alt="" width="620" height="380">
        <p class="font-for-eq"> behringer umc22</p>
        <img src="{{ url_for('static', filename='img/SFXMEBKS nobg.png') }}" alt="" width="1500" height="750">
        <p class="font-for-eq">cort sfx me bks</p>
    </div>

{% endblock %}
