{% extends 'base_studio.html' %}
{% block title %}
Обладнання
{% endblock %}
{% block body %}

<div class="container">
    <p class="font-for-titles">Обладнання</p>

        <img src="{{ url_for('static', filename='img/akg120 nobg.png') }}" alt="" width="420" height="260">
        <p class="font-for-eq">akg p120</p>
        <img src="{{ url_for('static', filename='img/2e gaming kodama kit black nobg.webp') }}" alt="" width="420" height="260">
        <p class="font-for-eq">2e gaming kodama kit black</p>
        <img src="{{ url_for('static', filename='img/akg k72 nobg.png') }}" alt="" width="320" height="350">
        <p class="font-for-eq">akg k72</p>
        <img src="{{ url_for('static', filename='img/bumc22 nobg.png') }}" alt="" width="420" height="260">
        <p class="font-for-eq"> behringer umc22</p>
        <img src="{{ url_for('static', filename='img/SFXMEBK nobg.png') }}" alt="" width="900" height="305">
        <p class="font-for-eq">cort sfx me bks</p>
        <img src="{{ url_for('static', filename='img/roland fp-30x nobg.png') }}" alt="" width="1100" height="305">
        <p class="font-for-eq">roland fp-30x</p>

    </div>

{% endblock %}
