{% extends 'base_studio.html' %}
{% block title %}
Ціни
{% endblock %}
{% block body %}



<div class="container">

    <p class="font-for-titles">Ціни</p>
    <div class="container-text" style="width: 50px; height: 550px;">
        <p class="font-for-text" style="position: absolute; top:750px; left:450px;">1 година роботи студії<br>800 грн</p>

        <p class="font-for-text" style="position: absolute; top:550px; left:400px;">Трек «під ключ»<br>12000 грн</p>


        <p class="font-for-text" style="position: absolute; top:390px; left:450px;">Зведення «під ключ»<br>7000 грн</p>


        <p class="font-for-text" style="position: absolute; top:350px; left:750px;">Запис Live «під ключ»<br>7000 грн</p>

     <p class="font-for-text" style="position: absolute; top:600px; left:750px;">Акустика «під ключ»<br>6000 грн</p>

     <p class="font-for-text" style="position: absolute; top:650px; left:1200px;">Запис вокалу «під ключ»<br>5000 грн</p>

     <p class="font-for-text" style="position: absolute; top:450px; left:1050px;">Аранжування «під ключ»<br>15000 - 22000 грн</p>

</div>
</div>
{% endblock %}
