{% extends 'base_studio.html' %}
{% block title %}
Відправити демо
{% endblock %}
{% block body %}
<div class="container">
    <p class="font-for-titles">Надіслати демо</p>
<form method="POST" action="/send_demo" enctype="multipart/form-data">
        <input type="text" name="name" id="name" class="form-control" placeholder="Ваше ім'я" required><br>
        <input type="text" name="phone" id="phone" class="form-control" placeholder="Ваш телефон" required><br>
        <input type="text" name="email" id="email" class="form-control" placeholder="Ваша електронна пошта"required ><br>
<label for="file" class="custom-file-upload" name="file" required>

<input type="file" name="file" id="file" required>
</label>
<!-- CSS-стилі для кастомної кнопки -->
<style>
    /* Приховати стандартну кнопку вибору файлу */
    input[type="file"] {
display:none;
    }

    /* Стилізувати кастомну кнопку */

    .custom-file-upload {

    }
</style>


<!--</label>-->
<!--    <label type="file" class="custom-file-upload" name="file">-->
<!--    <input type="file" />-->
<!--    Завантажити-->
<!--    </label>-->
        <input type="submit" class="custom-file-upload" value="Відправити">
</form>
</div>
{% endblock %}
